<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Best savory dessert you can find" />

    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" />
    <meta name="theme-color" content="#ED8240" />
    <link rel="icon" type="image/x-icon" href="./favicon.ico" />
    <link rel="manifest" href="./app.webmanifest" />
    <title>Creamier | The best dessert in town</title>

    <!-- <link fetchpriority="high" rel="preload" href="https://fonts.googleapis.com/css?family=Rubik:400,500,600,700&display=swap" as="font" type="font/woff2" crossorigin> -->
    <link fetchpriority="high" rel="preload" href="./images/heros/hero-image_2-large.jpg" as="image" media="(min-width: 601px)" />
    <link fetchpriority="high" rel="preload" href="./images/heros/hero-image_2-small.jpg" as="image" media="(max-width: 600px)" />
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to content</a>
    <restaurant-header></restaurant-header>
    <main id="main-content"></main>
    <restaurant-footer></restaurant-footer>
  </body>
</html>
