.section-pricing,
.section-meals {
  padding: 8rem 2rem;
}

.section-meals--favorite {
  min-height: 60vh;
  background-color: var(--white-100);
}

.section-pricing {
  background-color: var(--orange-100);
}
