:root {
  --orange-100: #f9f5f3;
  --orange-120: #ffeae5;
  --orange-150: #fcece7;
  --orange-180: #f0f0f0;
  --orange-200: #ffa979;
  --orange-300: #ed8240;
  --orange-400: #ab521b;
  --orange-500: #9c3d15;
  --red-300: #f44242;
  --black-300: #333333;
  --black-200: #424242;
  --white-400: #777777;
  --white-200: #d6d6d6;
  --white-100: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --grey-400: #a9a9a9;
  --grey-200: #ededed;
  --skeleton-loading: hsl(200, 20%, 85%);
  --skeleton-soft: hsl(200, 20%, 92%);

  --orange-200-overlay: rgba(237, 130, 64, 0.7);

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --radius-capsule: 9999px;
}
