.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6rem;
  font-size: 3.2rem;
  font-weight: lighter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__image {
    width: 100%;
    max-width: 40rem;
  }
}
